html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

:root {
  --app-black: #000000;
  --app-white: #ffffff;
  --app-green: #37bd12;
  --app-grey: #989898FF;
  --app-aquamarine: #7FFFD4;
}